.header {
  // mobile-only
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nav {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;

  color: #2196f3;

  span {
    color: #212121;
  }
}

.nav-list {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
